*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgba(254, 255, 255, 1);
    font-size: 18px;
}

.wrapper{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    min-height: 100vh; 
}

.input{
    width: 100%;
    display: flex;
}

.form{
    width: 60%;
    background-color: rgba(190, 9, 9, 1);
}


.input__form{
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.input__form h3{
    margin-top: 5%;
}

.input-form__align{
    margin-top: 7%;
    border-bottom: 2px solid rgba(157, 190, 187, 1);

}
.short-underline{
    width: 40%;
}

.border-none{
    background: transparent;
    border: none;
    outline: none;
}

.duck-img{
    background-color: rgba(255, 176, 57, 1);
    width: 40%;

}

.duck-img__position{
    padding-top: 50%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    right: 40%;
}

.send-btn{
    background-color: rgba(70, 129, 137, 1);
    border-radius: 20px;
    padding: 3%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.send-msg-btn{
    color: rgba(254, 255, 255, 1);
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(17, 91, 96);
}